version: "3.9"

services:
  api:
    build: .
    restart: always
    env_file: .env
    ports:
      - "8080:8080"

  db:
    image: postgres:15
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
